@tailwind base;
@tailwind components;
@tailwind utilities;
/* Custom Tooltip Styling */
[data-tooltip] {
  position: relative;
  cursor: pointer;
}

[data-tooltip]:before {
  content: attr(data-tooltip);
  position: absolute;
  bottom: 125%;
  left: 50%;
  transform: translateX(-50%);
  padding: 6px 10px;
  background-color: white;
  color: black;
  font-size: 12px;
  font-weight: bold;
  border-radius: 4px;
  white-space: nowrap;
  opacity: 0;
  visibility: hidden;
  transition: opacity 0.1s ease-in-out;
  box-shadow: 0 4px 6px rgba(0,0,0,0.1);
  border: 1px solid #ddd;
  z-index: 100;
}

[data-tooltip]:hover:before {
  opacity: 1;
  visibility: visible;
}